{% extends 'base.html' %}
{% block content %}
<h2>Создать заявку</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
        <label>Название:</label><br>
        <input type="text" name="title" required>
    </p>
    <p>
        <label>Описание:</label><br>
        <textarea name="description" required></textarea>
    </p>
    <p>
        <label>Категория:</label><br>
        <select name="category" required>
            {% for cat in categories %}
                <option value="{{ cat.id }}">{{ cat.name }}</option>
            {% endfor %}
        </select>
    </p>
    <p>
        <label>Фото/план помещения (jpg, jpeg, png, bmp, до 2 МБ):</label><br>
        <input type="file" name="image" accept=".jpg,.jpeg,.png,.bmp" required>
    </p>
    <button type="submit">Создать заявку</button>
</form>
<a href="{% url 'user_applications' %}">Назад к заявкам</a>
{% endblock %}